.Layout-loading
	margin 15% auto
	text-align center
	figcaption
		color white
		font-size 40px
		text-shadow 4px 3px 10px #151515
.Wrapper
	background rgba(white, 0.7)
	display none
	overflow-x scroll
	margin 15% auto
	text-align center