figure(class="Layout-loading")
	img(class="Layout-loading-image" src="/public/images/loading.gif")
div(class="Wrapper")
	header(class="Layout-header")
		include ../header/template.jade
	section(class="Layout-main")
		include ../calendar/template.jade
	footer(class="Layout-footer")
		include ../footer/template.jade