@font-face{font-family:'icomoon';src:url("../fonts/icomoon.eot?3f38dd");src:url("../fonts/icomoon.eot?#iefix3f38dd") format('embedded-opentype'),url("../fonts/icomoon.ttf?3f38dd") format('truetype'),url("../fonts/icomoon.woff?3f38dd") format('woff'),url("../fonts/icomoon.svg?3f38dd#icomoon") format('svg');font-weight:normal;font-style:normal}
[class^="icon-"],[class*=" icon-"]{color:#0ac6ff;font-family:'icomoon';speak:none;font-style:normal;font-size:1.5em;font-weight:normal;font-variant:normal;text-transform:none;text-shadow:0 0 10px #151515;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-twitter:before{content:"\ea91"}
.icon-github:before{content:"\eab4"}
.icon-linkedin:before{content:"\eac9"}
.Wrapper{background:rgba(255,255,255,0.7);display:none;overflow-x:scroll}
.Calendar-schedule{display:flex;}
.Calendar-schedule ul{list-style:none;}
.Calendar-schedule ul li{margin-top:1em}
.Footer{display:flex;justify-content:space-around;list-style:none}
html{height:100%}
body{background-image:url("../images/background.jpg");background-attachment:fixed;background-position:center center;background-repeat:no-repeat;background-size:cover;font-family:'Montserrat'}
a{text-decoration:none}
