ul(class="Footer")
	li(class="Footer-item")
		a(href="https://github.com/ederyair" class="icon-github")
	li(class="Footer-item")
		a(href="https://twitter.com/ederyairr" class="icon-twitter")
	li(class="Footer-item")
		a(href="https://mx.linkedin.com/pub/eder-yair-negrete-gonzález/97/161/4b8" class="icon-linkedin")