@import "style.styl"
@import "layout/styles.styl"
@import "header/styles.styl"
@import "calendar/styles.styl"
@import "footer/styles.styl"
html
	height 100%
body
	background-image url('../images/background.jpg')
	background-attachment fixed
	background-position center center
	background-repeat no-repeat
	background-size cover
	font-family 'Montserrat'
a
	text-decoration none