div(class="Calendar-day", id="calendarDay")
div(class="Calendar-schedule")
	div(class="Calendar-hour")
		ul(class="Calendar-hour-list" id="scheduleList")
	div(class="Calendar-local-teams")
		ul(class="Calendar-local-list" id="localList")
	div(class="Calendar-visit-teams")
		ul(class="Calendar-visit-list" id="visitList")