div(class="Calendar-day", id="calendarDay")
div(class="Calendar-schedule")
	div(class="Calendar-hour")
		ul(class="Calendar-hour-list")
			li 14:00
			li 15:00
			li 17:00
			li 18:00
	div(class="Calendar-local-teams")
		ul(class="Calendar-local-list")
			
	div(class="Calendar-visit-teams")
		ul(class="Calendar-visit-list")