div(class="Calendar-day", id="calendarDay")
div(class="Calendar-schedule")
	div(class="Calendar-hour")
		ul(class="Calendar-hour-list" id="scheduleList")
			span(class="Calendar-title") Shcedule
	div(class="Calendar-local-teams")
		ul(class="Calendar-local-list" id="localList")
			span(class="Calendar-title") Local
	div(class="Calendar-visit-teams")
		ul(class="Calendar-visit-list" id="visitList")
			span(class="Calendar-title") Visit
	div(class="Calendar-results") 
		ul(class="Calendar-results-list" id="resultsList")
			span(class="Calendar-title") Results